<robot name="box">
  <link name="box">
    <visual>
      <geometry>
        <box size="0.04 0.04 0.02"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="1"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
    </visual>
    <collision>
      <geometry>
        <box size="0.04 0.04 0.02"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>
</robot>